@import '@/assets/scss/_variables.scss';
@import '@/assets/scss/_mixins.scss';

body {
  background-color: rgb(238, 240, 241);
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
  margin: 0;
  padding: 0;
}

a {
  color: $font-color;
  text-decoration: none;
  &:hover {
    color: $accent-color;
  }
  &:visited {
    color: $font-color;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include reset-margin;
  font-weight: normal;
  letter-spacing: -1px;
}

ul, li {
  @include reset-margin;
}

footer {
  @include reset-margin;
}
