/*** App Environments ***/
$font-color: #000000;
$accent-color: #062e32;
$background-color: #ffffff;
$content-width: 1200px;
$component-radius: 15px;

/*** Colors ***/
$color-white: #fff;

$color-silver: #e5e5e5;
$color-silver-soft: #f0f0f0;
$color-silver-bold: #70757a;
